@media only screen and (max-width: 768px) {
    .navbar {
      text-align: center;
    }
    ul > li {
        padding: 0.30em;
    }
    .btn-container {
        margin-top: 1em;
        gap: 1rem;
    }
    .navbar-brand {
        margin-left: 1em;
    }
    .navbar-nav {
        margin-top: 0.5rem;
    }
    .btn-container { 
        margin-left: 48px;
    }
  }