@media only screen and (max-width: 768px) {
    .navbar {
      text-align: center;
    }
    ul > li {
        padding: 0.30em;
    }
    .btn-container {
        margin-top: 1em;
        gap: 1rem;
    }
    .navbar-brand {
        margin-left: 1em;
    }
    .navbar-nav {
        margin-top: 0.5rem;
    }
    .btn-container { 
        margin-left: 48px;
    }
    .section-2 { 
        width: 90%;
    }
    .section-2-row { 
        display: flex;
        flex-direction: column;
    }
    .section-2-location {
        margin-left: 0.8rem;
    }
    .section-2-servers {
        margin-left: 0.4rem;

    }
    .section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section-3-text {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }
    .boxes-container {
        display: flex;
        flex-direction: column;
        gap: 3rem ;
    }
    .sponser-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .section-6-reviews{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .get-started-container   {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .social-media-footer  {
        margin-left: 8.5rem;
        margin-top: 2rem;
    }
  }

