
/* nav bar settings */

/*nav bar logo position start*/
.navbar-brand {

    margin-left: 4rem;

}
/*nav bar logo position end*/
ul > li {
    padding: 1em;
}
/*nav bar links position start*/
.navbar-nav{
    justify-content: space-between;
}

/*nav bar links position end*/

/* nav bar font family  start*/
.nav {
    font-family: 'Rubik', sans-serif;
}
/* nav bar font family end*/

@media only screen and (max-width: 768px) {
    .navbar {
      text-align: center;
    }
    ul > li {
        padding: 0.30em;
    }
    .btn-container {
        margin-top: 1em;
        gap: 1rem;
    }
    .navbar-brand {
        margin-left: 1em;
    }
    .navbar-nav {
        margin-top: 0.5rem;
    }
  }
/* sign in sign up button position start*/
  .btn-container {
    margin-left: 1rem;
    padding: 0.85em;
  }
/* sign in sign up button positionebd*/

/* nav bar settings */
