html {
    font-family: 'Rubik', sans-serif;

}
/* nav bar settings */

/*nav bar logo position start*/
.navbar-brand {

    margin-left: 2rem;

}
.navbar-nav{
    justify-content: space-between;
}

/*nav bar links position end*/
/* nav bar settings */
/* section 1 settings */
.section-1-text-get-started > p {
    font-size: 16px;
    color: #4F5665;
}
.section-1-text-get-started > h1 {
    font-size: 40px;
}
/* section 1 get started button settings */
.get-started-button-section-1 {
	background-color:#f53838;
	border-radius:8px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:11px 53px;
	text-decoration:none;
}
.get-started-button-section-1:hover {
	background-color:#eb675e;
}
.get-started-button-section-1:active {
	position:relative;
	top:1px;
}
 /* section 3 settings */
 /* section 3 small check mark icon container settigns */
 .section-3-text {
	font-size: 13;
 }